.scrollbar::-webkit-scrollbar {
  width: 0.375rem;
}

.scrollbar--dark::-webkit-scrollbar-thumb {
  background: var(--color-dark-dimmed);
  border-radius: 0.188rem;
}

.scrollbar--light::-webkit-scrollbar-thumb {
  background: var(--color-light-dimmed);
  border-radius: 0.188rem;
}
