.root {
  font-weight: 500;
  font-size: 0.625rem;
  font-feature-settings: 'pnum' on, 'lnum' on;
  display: flex;
  align-items: center;
}

.__circle {
  width: 0.25rem;
  height: 0.25rem;
  display: block;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.__circle--light {
  background: var(--color-light-border);
}

.__circle--dark {
  background: var(--color-dark-border);
}

.__text--light {
  color: var(--color-light-muted);
}

.__text--dark {
  color: var(--color-dark-muted);
}
