@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {
  --color-light-default: #ffffff;
  --color-dark-default: #0e0f10;
  --color-placeholder: #7e8491;
  --base-unit: 16;
}

.bg--dark {
  background: var(--color-dark-default);
}

.bg--light {
  background: var(--color-light-default);
}

.text--dark {
  color: var(--color-light-default);
}

.text--light {
  color: var(--color-dark-default);
}
