@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {
  --base-unit: 16;

  --color-light-default: #ffffff;
  --color-dark-default: #0e0f10;
  --color-placeholder: #7e8491;
  --color-primary: #05bd7a;
  --color-dark-border: #181a1b;
  --color-light-border: #f1f3f3;
  --color-dark-text: #0e100f;
  --color-light-overlay: rgba(15, 16, 15, 0.48);
  --color-dark-overlay: rgba(0, 0, 0, 0.64);
}

.bg--dark {
  background: var(--color-dark-default);
}

.bg--light {
  background: var(--color-light-default);
}

.overlay--dark {
  background: var(--color-dark-overlay);
}

.overlay--light {
  background: var(--color-light-overlay);
}

.text--dark {
  color: var(--color-light-default);
}

.text--light {
  color: var(--color-dark-text);
}
