.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background: var(--color-placeholder);
  border-radius: 50%;
  font-size: var(--font-size-small);
}
