.root {
  background: none;
  border: none;
  height: 1.25rem;
  padding: 1rem 0.5rem;
  border-radius: 0.125rem;
  width: 100%;
}

.input--light {
  background: var(--color-light-dimmed);
}

.input--dark {
  background: var(--color-input);
}

.root:focus,
.root:visited {
  outline: none;
}

.label--light {
  color: var(--color-dark-default);
}

.label--dark {
  color: var(--color-light-default);
}
