.root {
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 0.5rem;
}

.__border--light {
  border-top: 1px solid var(--color-light-border);
}

.__border--dark {
  border-top: 1px solid var(--color-dark-border);
}
